@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #3E7B27;
  --color-secondary: #00A898;
  --color-dark: #2d3436;
}

/* */

* {
  font-family: "Roboto", sans-serif;
}

.custom-btn {
  @apply mt-4 bg-gradient-to-r from-teal-500 to-teal-700 hover:from-teal-600 hover:to-teal-800 text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition-all duration-300
}

ul a.active {

  text-decoration: underline;
}