@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #3E7B27;
  --color-secondary: #D3D04F;
}


*{
  font-family: "Roboto", sans-serif;
}

ul a.active{
     /* background-color:#EFE3C2; */
      text-decoration: underline;
}